### combine all observational indices (EMI, IOD, NINO3.4, SAM, SPSD) into one dataframe

In [11]:
import pathlib

In [12]:
import pandas as pd

In [13]:
dpath = pathlib.Path("/media/nicolasf/END19101/data/observational_indices")

In [14]:
lfiles = list(dpath.rglob("*.csv"))

In [15]:
lfiles.sort()

In [16]:
lfiles

[PosixPath('/media/nicolasf/END19101/data/observational_indices/EMI/EMI.csv'),
 PosixPath('/media/nicolasf/END19101/data/observational_indices/IOD/IOD.csv'),
 PosixPath('/media/nicolasf/END19101/data/observational_indices/NINO34/NINO34.csv'),
 PosixPath('/media/nicolasf/END19101/data/observational_indices/SAM/SAM.csv'),
 PosixPath('/media/nicolasf/END19101/data/observational_indices/SPSD/SPSD.csv')]

In [17]:
ldata = []
for f in lfiles: 
    data = pd.read_csv(f, index_col=0, parse_dates=True)
    ldata.append(data)

In [19]:
data = pd.concat(ldata, axis=1)

In [22]:
data = data.dropna(axis=0)

In [25]:
data.corr()

             EMI       IOD    NINO34       SAM      SPSD
EMI     1.000000  0.208274  0.508892 -0.214303 -0.230506
IOD     0.208274  1.000000  0.333795 -0.024405 -0.022151
NINO34  0.508892  0.333795  1.000000 -0.161542 -0.543405
SAM    -0.214303 -0.024405 -0.161542  1.000000  0.325783
SPSD   -0.230506 -0.022151 -0.543405  0.325783  1.000000

### saves to disk

In [26]:
data.to_csv(dpath.joinpath("observational_indices.csv"))